/* colors
black -- #0B0C10
darkGray -- #1F2833
lightGray -- #C5C6C7
brightTeal -- #66FCF1
darkTeal -- #45A29E */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #1F2833;
}

header {
    /* border: 1px solid white; */
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-size: 5rem;
    color: #66FCF1;
}

#game-area {
    margin: 0 auto;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid orange; */
}

#player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 800px;
    /* border: 1px solid purple; */
    margin-top: -8rem;
}

#playerX-container, #playerO-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 200px;
    /* border: 1px solid orange; */
    border-radius: 4px;
}

#playerX-container h4, #playerO-container h4 {
    font-size: 2rem;
    color: #C5C6C7;
}

#playerX-container select, #playerO-container select {
    cursor: pointer;
}

#message {
    height: 80px;
    width: 250px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #45A29E;
    border-radius: 4px;
    position: absolute;
    left: 44%;
    background: #0B0C10;
    color: #C5C6C7;
}

#message span {
    font-size: 2rem;
}

#game-start {
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #45A29E;
    border-radius: 4px;
    position: absolute;
    top: -20%;
    left: 10%;
    cursor: pointer;
    background: #0B0C10;
    color: #C5C6C7;
    font-size: 1.25rem;
}

#game-start:hover {
    opacity: .7;
}

#gameboard-container {
    position: relative;
    height: 330px;
    width: 330px;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 8rem;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color:  #66FCF1;
    background-color: #0B0C10;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.square:hover {
    opacity: .5;
}

#square-4 {
    border: 2px solid  #66FCF1;
}

#square-1, #square-7 {
    border-left: 2px solid  #66FCF1;
    border-right: 2px solid  #66FCF1;
}

#square-3, #square-5 {
    border-top: 2px solid  #66FCF1;
    border-bottom: 2px solid  #66FCF1;
}
